/* baloo-2-800 - latin */
@font-face {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/baloo-2-v14-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/baloo-2-v14-latin-800.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/baloo-2-v14-latin-800.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/baloo-2-v14-latin-800.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/baloo-2-v14-latin-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/baloo-2-v14-latin-800.svg#Baloo2")
      format("svg"); /* Legacy iOS */
}

/* nunito-regular - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/nunito-v24-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/nunito-v24-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/nunito-v24-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/nunito-v24-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/nunito-v24-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/nunito-v24-latin-regular.svg#Nunito") format("svg"); /* Legacy iOS */
}

body {
  font-family: "Nunito";
  font-weight: 400;
}
.main__avatar {
  width: 55%;
  height: 55%;
  object-fit: cover;
  border-radius: 50%;
  border: 8px solid #ffffff;
}
.decor__frame {
  width: 100%;
}
.decor-img__wrapper {
  position: relative;
  text-align: center;
}
.decor__decoration {
  position: absolute;
  top: -10%;
  left: -10%;
  content: "";
  width: 100%;
  height: 125%;
  z-index: -1;
}
.decor__decoration img {
  width: 100%;
  height: 100%;
}

.decoration {
  padding: 0 80px;
  display: flex;
  align-items: center;
}
.decor,
.timer__box {
  flex: 1 1 50%;
}
.timer__box {
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}
.timer {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 12px;
  position: relative;
}
.timer__small {
  width: 20%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  right: 0;
  bottom: 0;
  position: absolute;
  background: #fff5f5;
  mix-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer__big {
  width: 40%;
  bottom: 0;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  right: 45px;
  position: absolute;
  background: #fff5f5;
  mix-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer__title {
  font-size: clamp(12px, 2vw, 20px);
  line-height: 1.35;
  color: #fc6a57;
  text-align: center;
}
.timer__time {
  font-weight: 800;
  font-size: clamp(12px, 2vw, 30px);
  line-height: 1.6;
  color: #fc6a57;
  text-align: center;
  font-family: "Baloo 2";
}
.social {
  display: flex;
  position: absolute;
  top: 414px;
  left: 161px;
}
.social li:not(:last-child) {
  margin-right: 20px;
}
.logo {
  font-weight: 800;
  font-size: 30px;
  /* line-height: 1.6; */
  color: #fc6a57;
  font-family: "Baloo 2";
  padding: 40px 0px;
}
.nav {
  display: flex;
  background: linear-gradient(180deg, #fff1f2 0%, #ffffff 75.83%);
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}
.nav__bar {
  padding: 40px 0px;
  display: flex;
  justify-content: flex-end;
}
.links__wrapper {
  display: flex;
}

.nav__link {
  color: #fc6a57;
  font-size: clamp(12px, 2vw, 16px);
  line-height: 19.5px;
  text-decoration: none;
  padding: 9px 20px;
  background-color: transparent;
  color: #fc6a57;
}
.li__wrapper:not(:last-child) {
  margin-right: 8px;
}
.nav__link:hover {
  border-radius: 20px;
  background-color: #fc6a57;
  color: #ffffff;
}
.title {
  font-family: "Baloo 2";
  font-weight: 800;
  font-size: 48px;
  color: #fc6a57;
  margin-bottom: 40px;
}
.text__par {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #fc6a57;
}

.data {
  border: 4px solid #fc6a57;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 30px 90px;
  position: absolute;
  top: 55px;
  right: -108px;
  font-size: 32px;
  line-height: 39px;
}
.data__box {
  width: 330px;
  height: 40px;
}
.data::before {
  background: url(../img/decor5.svg);
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
}
.content {
  text-align: center;
  margin-bottom: 80px;
}
.content__wrapper {
  display: flex;
  padding: 40px 80px;
  background: #fff5f5;
  justify-content: center;
}
.content__wrapper-item:not(:last-child) {
  margin-right: 80px;
}
.no__bg {
  background-color: #ffffff;
}
.img__wrapper {
  flex-basis: 33%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;
}
/* .img__wrapper img {
  flex: 1;
  object-fit: cover;
} */
.img__wrapper:not(:last-child) {
  margin-right: 80px;
}
.content__img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  padding: 30px;
  display: block;
  background-color: #fff5f5;
  box-shadow: inset 0px -6px 10px #ffffff,
    inset 0px 4px 15px rgba(31, 56, 101, 0.15);
  margin-bottom: 16px;
}
.content__img:hover {
  box-shadow: 0px -6px 10px #ffffff, 0px 4px 15px rgba(31, 56, 101, 0.15);
}
.content__text {
  font-size: clamp(14px, 2vw, 24px);
  /* font-size: 24px; */
  line-height: 29px;
  color: #fc6a57;
}
.brands {
  text-align: center;
  padding-bottom: 120px;
}
.brands .title {
  color: #007eff;
}
.brands__wrapper {
  background: #fff;
}
.brands__wrapper li:not(:last-child) {
  margin-right: 40px;
}
.brands__wrapper li img {
  margin-bottom: 8px;
}
.brands__wrapper .content__text {
  color: #007eff;
}
.brand__wrapper {
  flex-basis: 20%;
}
.brand__img {
  width: 100%;
}
.title.title__extra {
  color: #ff974b;
}
.content__text--extra {
  color: #ff974b;
}
.title--bad {
  color: #1f3865;
}
.wishlist .title {
  color: #007eff;
}
.wishlist {
  text-align: center;
}
.wishlist__wrapper {
  background: #fff5f5;
  padding: 40px 0;
}
.wishlist .content__img {
  padding: 0;
  margin-bottom: 0;
}
.wishlist .img__wrapper {
  position: relative;
  padding: 0;
}
.content__img--wish {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.content__img--visible {
  width: 100%;
  height: 100%;
  background: rgba(31, 56, 101, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  padding: 30px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.content__img--visible .foot__logo {
  color: #fff;
}
.content__img--visible img {
  flex: 0;
}
.wishlist .img__wrapper:hover .content__img--visible {
  display: flex;
}
.foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
  background: #fff5f5;
}
.foot__logo {
  font-family: "Baloo 2";
  font-weight: 800;
  font-size: 30px;
  color: #fc6a57;
  position: relative;
}
.foot .social {
  position: static;
}
.mobile__desc {
  display: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #1f3865;
}

/* media */

@media (max-width: 1250px) {
  .text__par {
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  .li__wrapper {
    padding: 7px 0px;
  }
  .nav__link {
    padding: 9px 10px;
  }
  .logo {
    font-size: 32px;
  }
  .text__par {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  .first__item {
    transform: scale(0.5);
  }
  .second__item {
    transform: scale(0.5);
  }
}
@media (max-width: 1000px) {
  .content__img {
    padding: 10px;
  }
  .title {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .main__avatar {
    width: 75%;
  }
  .timer__big {
    width: 48%;
  }
}
@media (max-width: 815px) {
  .nav__bar {
    display: none;
  }
}
@media (max-width: 750px) {
  .content__wrapper {
    flex-direction: column;
  }
  .img__wrapper:not(:last-child) {
    margin-right: 0;
  }
  .img__wrapper:not(:last-child) {
    margin-bottom: 40px;
  }
  .content__img {
    padding: 20px;
  }
  .main__avatar {
    width: 85%;
  }
}
@media (max-width: 500px) {
  .content__img {
    padding: 0;
  }
  .content__wrapper {
    padding: 40px 0;
  }
  .brand__wrapper {
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  .brands__wrapper {
    padding: 0;
  }
  .brand__img-box {
    width: 80px;
    margin-right: 20px;
  }
  .decoration .social {
    position: absolute;
    left: 250px;
    top: 20px;
  }
  .decoration .social img {
    background-color: #fc6a57;
  }
  .data {
    border: 4px solid #fc6a57;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 24px 48px;
    position: absolute;
    top: 55px;
    right: 0;
    font-size: 20px;
    line-height: 1.2;
  }
  .data__box {
    height: 24px;
  }
  .data::before {
    left: 48px;
  }
  .content {
    margin-top: 40px;
    margin-bottom: 0px;
  }
  .content__wrapper {
    background-color: #ffffff;
  }
  .brands {
    padding: 0;
  }
  .mobile__desc {
    display: block;
  }
}
